# Include critical files
include README.md
include LICENSE

# Include the CITATION.cff file
include CITATION.cff

# Exclude test
exclude gedidb/tests/*
exclude gedidb/tests/**/*.*

# Exclude scripts
exclude scripts



